*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #F4F4F6;;
}

#title{
    padding: 2rem 0 0 0.7rem;
}

#cards{
    padding: 1rem 1.2rem 1rem 1.2rem;
}

#cards .customcard{
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid gray;
}

#cards .customcard .row .col-8,
#cards .customcard .row .col-4{
    padding: 10px 1rem;
}

#cards .customcard .row .col-8 h4{
    margin-top: 10px;
}


.cardwin{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px;
}